/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container, .menu-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Imagen en formularios de login y registro */
.image {
    background: url('image.jpg') no-repeat center center;
    background-size: cover;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100px;
    margin-bottom: 20px;
}

.form, .menu-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Títulos */
h2, .menu-container h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.menu-container h1 {
    font-size: 3em;
    color: #007BFF;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 15px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Estilos para el menú */
.menu-btn {
    margin: 10px;
    padding: 20px;
    width: 220px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botón Salir con color amarillo */
.salir-btn {
    background-color: #FFC107;
    color: #333;
}

.salir-btn:hover {
    background-color: #e0a800;
    color: white;
}

.menu-btn:hover {
    background-color: #0056b3;
}
.menu-btn i {
    margin-right: 10px;
    font-size: 1.2em;
    vertical-align: middle;
}
